// primary
$primary-pressed: #BE152A;
$primary-base: #D72E36;

// gray
$gray100: #181818;
$gray80: #666;
$gray60: #A0A0A0;

.primary-pressed{color:$primary-pressed}
.primary-base{color:$primary-base}
.gray100{color:$gray100}
.gray80{color:$gray80}
.gray60{color:$gray60}