.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.calendar-container__week_view {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-container__week_view.weekend {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-container__week_view.day {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container__month_view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 30px;
  margin-bottom: 20px;
}

.calendar-container__month_view > button {
  padding: 0 8px;
  width: 30px;
  max-width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  margin-bottom: 0;
}
.calendar-container__month_view__prev_btn {
  position: absolute;
  left: -20px;
}
.calendar-container__month_view__next_btn {
  position: absolute;
  right: -20px;
}

.calendar-container__month_view.cur_month {
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.calendar-container__day_view {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-container__day_view__day {
  width: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}
.calendar-container__day_view__day.disable {
  color: #eee;
}
.calendar-container__day_view__day.weekend_saturday {
  color: #467bf7;
}
.calendar-container__day_view__day.weekend_sunday {
  color: rgb(255, 58, 58);
}
.calendar-container__month_dropbox {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.29);
  width: 180px;
  height: 140px;
  padding: 10px 6px;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calendar-container__month_dropbox__button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
}
.calendar-container__month_dropbox__button.active {
  background-color: #467bf7;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
}

.calendar-container__divide {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #eee;
}
