.calendar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}

.calendar-container__week_view {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 10px;
}
.calendar-container__week_view.weekend {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calendar-container__week_view.day {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar-container__month_view {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 40px;
	margin-bottom: 20px;
}

.calendar-container__month_view > button {
	padding: 0 8px;
  width: 40px;
	max-width: 40px;
	height: 40px;
	background-color: #fff;
	border: none;
	margin-bottom: 0;
}
.calendar-container__month_view__prev_btn {
	position: absolute;
	left: 0px;
}
.calendar-container__month_view__next_btn {
	position: absolute;
	right: 0px;
}

.calendar-container__month_view.cur_month {
	width: auto;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	font-size: 18px;
}

.calendar-container__day_view {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
}

.calendar-container__day_view__day {
	position: relative;
	width: auto;
	height: 80px;
	border: none;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: none;
}
.calendar-container__day_view__day__txt {
	position: absolute;
	top: 8px;
	left: 10px;
	border: none;
	font-size: 14pxd;
}
.calendar-container__day_view__day.disable {
	color: #eee;
}
.calendar-container__day_view__day.weekend_saturday {
	color: #467bf7;
}
.calendar-container__day_view__day.weekend_sunday {
	color: rgb(255, 58, 58);
}
.calendar-container__day_view__day__sday {
	display: inline;
	position: absolute;
	left: 23px;
	top: 8px;
	color: rgb(255, 58, 58);
	font-size: 12px;
	border: none;
}
.calendar-container__month_dropbox {
	position: absolute;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.29);
	width: 180px;
	height: 140px;
	padding: 10px 6px;
	top: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	z-index: 10;
}

.calendar-container__month_dropbox__button {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: none;
}
.calendar-container__month_dropbox__button.active {
	background-color: #467bf7;
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
}

.calendar-container__divide {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #eee;
}

.carousel_container {
	position: relative;
	overflow: hidden;
	user-select: none;
	cursor: grab;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100vh;
}
.carousel_wrapper {
	display: flex;
	position: absolute;
	justify-content: center;
	height: 100vh;
	left: 0;
	overflow: hidden;
}
.carousel_slide {
	width: 480px;
	height: 100vh;
	margin-right: 0px;
	background-color: red;
}
.carousel_slide:nth-last-child(1) {
	margin-right: 0px;
}
